@import "_variables.scss";
@import "_mixins.scss";

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 15px;
  margin-bottom: 15px;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.nav-container {
  border-bottom: 2px solid $borderColor;
  .nav-header {
    width: 95%;
    margin: 0 auto;
    padding: 20px 20px;
    box-sizing: border-box;

    a {
      color: $bodyColor;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $coolGray;
      }
    }
  }
}

.wrapper-memebox {
  width: 65%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  @include mQ(1000px) {
    width: 80%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: $bodyColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.meme-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  gap: 0px 10px;
  img {
    width: 100%;
    border: 2px solid $coolGray;
    &:hover {
      border: 4px solid $coolGray;
    }
  }
}

.make-meme-content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px 10px;
  img {
    width: 100%;
    border: 1px solid white;
  }
  .image-place-holder {
    font-size: 40px;
    font-weight: bold;
    @include mQ(1200px, 800px) {
      font-size: 30px;
    }
    @include mQ(799px) {
      font-size: 25px;
    }
  }
}

.meme-instructions {
  font-size: 30px;
  font-weight: bold;
  @include mQ(1200px, 800px) {
    font-size: 25px;
  }
  @include mQ(799px) {
    font-size: 20px;
  }
}

form.meme-submit {
  label {
    margin-right: 5px;
  }
  .field {
    margin-bottom: 10px;
  }
  input {
    width: 50%;
    height: 24px;
    @include mQ(800px) {
      width: 75%;
    }
  }
  button {
    width: 25%;
    padding: 10px;
    font-size: 16px;
  }
}
.footer-container {
  .meme-mon-footer {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
  margin-top: 25px;
  border-top: 2px solid $borderColor;
}

.center-align {
  text-align: center;
}

.text-label {
  margin-bottom: 5px;
}

.twitter-share-button {
  height: 20px;
  width: 61px;
  text-decoration: none;
  background: $twitterBlue;
  font-size: 10px;
  padding: 4px 10px;
  color: #fff;
  position: relative;
  top: -6px;
  margin-left: 5px;
  border-radius: 3px;
  font-weight: bold;
}
